/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1dee;
  padding: 1rem 2rem;
  color: white;
  border: 3px solid #e3e4e6;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  list-style: none;

}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar .logout-button {
  background: none;
  border: none;
  color: #f9fafa;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.navbar .logout-button:hover {
  text-decoration: underline;
}


button {
  width: 170px;
  height: 40px;
  border: 3px solid #e7e8e9;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.7;
}

button:hover {
  background: #5c5959;
  color: rgb(0, 0, 0);
  font-size: 1em;
}
